{% extends 'base.html' %}
{% block body%}
{% load staticfiles %}
<section class="login-block">
    <div class="container">
        {% include 'messages.html' %}
        {% if upload_form %}
        <div class="row">
            <div class="col-md-4 login-sec">
                <h2 class="text-center">Загрузить файл</h2>
                <form method="POST" enctype="multipart/form-data"
                      style="margin-top: 2%; margin-bottom: 3%">
                    {% csrf_token %}
                    {{ upload_form }}

                    <button type="submit" class="btn btn-login">Загрузить</button>

                </form>
            </div>
            <div class="col-md-8 login-sec">
                <h2 class="text-center">Введите текст</h2>
                <form class="post" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="exampleInputPassword1" class="text-uppercase">Текст</label>
                        <textarea type="text" id="message" name="text" rows="2"
                                  class="form-control md-textarea"></textarea>
                    </div>

                    <div class="form-check">
                        <button type="submit" class="btn btn-login float-right">Извлечь</button>
                    </div>

                </form>

            </div>
        </div>
        {% elif resumes %}
        <div class="row" style="padding: 16px">
            <a href="{% url 'main' %}">
              <button class="btn btn-success">Загрузить еще</button>
            </a>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Файл</th>
                        <th>Ф.И.О</th>
                        <th>Email</th>
                        <th>Номер телефона</th>
                        <th>Образование</th>
                        <th>Места работы</th>
                        <th>Место учебы</th>
                        <th>Общий стаж</th>
                        <th>Умения</th>
                        <th>Опыт</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for resume in resumes %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{{resume.resume.url}}" target="_blank">{{resume.resume.url|truncatechars:20}}</a>
                        </td>
                        <td>{{resume.name}}</td>
                        <td>{{resume.email}}</td>
                        <td>{{resume.mobile_number}}</td>
                        <td>{{resume.education}}</td>
                        <td>{{resume.company_names}}</td>
                        <td>{{resume.college_name}}</td>
                        <td>{{resume.total_experience}}</td>
                        <td>{{resume.skills}}</td>
                        <td>{{resume.experience}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>
    </div>
</section>
{% endblock %}